.container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.groupOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priorityIndicator {
  font-size: 12px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  color: #707070;
}

.assignedUserIcon {
  margin-right: 5px;
  font-size: 0.6rem;
}

.title{
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  line-height: 1.5;
  max-width: 100%;
  position: relative;
}

h3:hover {
  overflow: visible;
  white-space: normal;
}

.menu {
  position: relative;
}

.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menuItems {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 10;
}


.assignedUsersContainer {
  margin-left: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.assignedUserIcon {
  width: 10px; 
  height: 10px;
  background: #FFEBEB; 
  color: black;
  border-radius: 50%; 
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  font-size: 5px; 
}

.menuItem {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  color: #333;
}

.menuItem:hover {
  background-color: #f5f5f5;
}


.categoryBadges {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DateButton {
  font-size: 0.7rem;
  color: #5A5A5A;
  border: none;
  background-color: #DBDBDB;
  /* padding: 0.25rem 0.5rem; */
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}

.completedDateButton {
  background-color: #63C05B;
  font-size: 0.7rem;
  color: white;
  border: none;
  /* padding: 0.25rem 0.5rem; */
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}

.statusButtons {
  display: flex;
  gap: 8px;
  padding: 8px;
  justify-content: flex-end;
  margin-left: auto;
}

.highPriorityDate {
  background-color: #CF3636;
  font-size: 0.7rem;
  color: white;
  border: none;
  /* padding: 0.25rem 0.5rem; */
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}

.categoryButton {
  font-size: 0.6rem;
  font-weight: 500;
  border: none;
  background-color: #EEECEC;
  color: #333;
  border-radius: 5px;
  /* padding: 0.25rem 0.5rem; */
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.categoryButton:hover {
  background-color: #d4d4d4;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.highPriority > li::marker {
  color: #ff2473;
  font-size: 10px;
}

.moderatePriority > li::marker {
  color: #18B0FF;
  font-size: 10px;
}

.lowPriority > li::marker {
  color: #63C05B;
  font-size: 10px;
}
