.container {
  flex: 1;
  padding: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.categories {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  height: 100%;
}

.category {
  flex: 1;
  min-width: 250px;
  background-color: #EEF2F5;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons{
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.taskCard {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.emptyCard {
  text-align: center;
  color: #5A67D8;
}


.categories::-webkit-scrollbar {
  height: 4px;
  width: 6px;
  background: #8DAAB9CC;
}

.categories::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.categories::-webkit-scrollbar-thumb {
  background: #8DAAB9CC;
  border-radius: 3px;
}


.taskCard::-webkit-scrollbar {
  height: 4px;
  width: 6px;
  background: #8DAAB9CC;
}

.taskCard::-webkit-scrollbar-track {
  background: #D6EAF4;
  border-radius: 3px;
}

.taskCard::-webkit-scrollbar-thumb {
  background: #8DAAB9CC;
  border-radius: 3px;
}