.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: fit-content;
  align-items: center;
}

.categories {
  display: flex;
  gap: 15px;
  width: 100%;
  overflow-x: auto;
}

.category {
  flex: 1;
  background-color: #EEF2F5; 
  border-radius: 8px;
}

.cardsContainer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333; 
}


.emptyCard {
  width: 100%;
}

.emptyCard span {
  color: #5A67D8;
  width: 100%;
}
