.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #303D438C;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 24px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.inputField {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #E2E2E2;
  color: #9B959F;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px #4D40551A;
}

.priorityOptions {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.radioGroup {
  display: flex;
  gap: 8px;
}



.radioOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 7px 0px 7px;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-size: 9px;
  color: #767575;
  border: 1px solid #E2E2E2
}

.radioOption span {
  font-size: 16px;
  margin-right: 4px;
  
}

.radioOption.checkedOption {
  background: #EEECEC;
}

.errorMessage {
  color: red;
  font-size: 8px;
  margin-top: 8px;
  font-weight: 400;
}

.AssignedUser {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 600;
}

.assignedInputWrapper{
  width: 80%;
}

.CheckTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
}

.CheckContainer {
  max-height: 150px;
  overflow-y: auto;
  padding-top: 8px; 
  border-top: 1px solid #ddd;
}

.checklistItem {
  position: relative;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.checklistItem input[type="text"] {
  width: 100%;
  padding: 8px 32px 8px 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 12px;
  box-sizing: border-box;
}

.checklistItem input[type="checkbox"] {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.removeBtn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ff0000;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.addBtn {
  color: #767575;
  background: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.calendarOverlay {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  width: 120px;
}

.dateDisplay {
  padding: 8px;
  font-size: 10px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  color: #9B959F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateInputHidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.cancelBtn {
  border: 1px solid #CF3636;
  background-color: white;
  color: #CF3636;
  padding: 8px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 550;
  width: 100px;
}

.saveBtn {
  background-color: #17A2B8;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  width: 100px;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}


.bottom input{
  padding: 2px;
}

.dueDate{
  border: 1px solid #E2E2E2;
  padding: 3px;
  font-size: small;
}

.saveButton[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.CheckContainer::-webkit-scrollbar {
  height: 4px;
  width: 6px;
  background: #8DAAB9CC;
}

.CheckContainer::-webkit-scrollbar-track {
  background: #D6EAF4;
  border-radius: 3px;
}

.CheckContainer::-webkit-scrollbar-thumb {
  background: #8DAAB9CC;
  border-radius: 3px;
}